{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content blog sidebar left-sidebar list">
        <section>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9 py-5">
                        <div class="area-content-bySidebar ">
                            <nav aria-label="breadcrumb" class="mb-4">
                                <ol class="breadcrumb breadcrumb-singleProduct ">
                                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                    <li class="breadcrumb-item"> <a href="#">وبلاگ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">وبلاگ لیستی </li>
                                </ol>
                            </nav>
                            <div class="title_site d-flex justify-content-start">
                                <h1>بلاگ</h1>
                            </div>
                            <div class="area-all-post mb-0 mb-md-3">
                                <div class="row">
                                    <div class="col-12 mb-4 pb-2">
                                        <article class="card card-post d-flex flex-column flex-sm-row">
                                            <div class="hover01 column">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post1.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                            <!-- <div class="hover01"> <figure> <a href="#" class="card-img d-block"><img src="images/img-post1.jpg" class="img-fluid h-100" ></a></figure> </div> -->
                                            <div class="card-body">
                                                <ul class="post-categories mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-2 mb-md-4"> <a href="#">لورم ایپسوم متن ساختگی
                                                        با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile_author porofile_author-listPost  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgAuthor" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 mb-4 pb-2">
                                        <article
                                            class="card card-post card-post-conversely  d-flex flex-column flex-sm-row">
                                            <div class="card-body order-2 order-sm-1">
                                                <ul class="post-categories  mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-4"> <a href="#">لورم ایپسوم متن ساختگی با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile porofile_author  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgPorofile" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hover01 column order-1  order-sm-2">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post2.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 mb-4 pb-2">
                                        <article class="card card-post d-flex flex-column flex-sm-row">
                                            <div class="hover01 column">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post3.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                            <div class="card-body">
                                                <ul class="post-categories  mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-4"> <a href="#">لورم ایپسوم متن ساختگی با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile porofile_author  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgPorofile" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 mb-4 pb-2">
                                        <article
                                            class="card card-post card-post-conversely  d-flex flex-column flex-sm-row">
                                            <div class="card-body  order-2 order-sm-1">
                                                <ul class="post-categories  mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-4"> <a href="#">لورم ایپسوم متن ساختگی با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile porofile_author  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgPorofile" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hover01 column order-1  order-sm-2">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post4.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 mb-4 pb-2">
                                        <article class="card card-post d-flex flex-column flex-sm-row">
                                            <div class="hover01 column">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post5.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                            <div class="card-body">
                                                <ul class="post-categories  mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-4"> <a href="#">لورم ایپسوم متن ساختگی با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile porofile_author  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgPorofile" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-12 mb-4 pb-2">
                                        <article
                                            class="card card-post card-post-conversely  d-flex flex-column flex-sm-row">
                                            <div class="card-body  order-2 order-sm-1">
                                                <ul class="post-categories  mb-3 mb-md-4">
                                                    <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                    <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                </ul>
                                                <h2 class="title-post mb-4"> <a href="#">لورم ایپسوم متن ساختگی با تولید
                                                        سادگی</a></h2>
                                                <div class="porofile porofile_author  mb-4">
                                                    <a href="#" class="d-flex align-items-center">
                                                        <img class="imgPorofile" src="images/castomer9787.jpg" />
                                                        <div class="porofileName">
                                                            <span>نویسنده:</span>
                                                            <span>فاطمه حمزه عوفی</span>
                                                        </div>
                                                    </a>
                                                </div>
                                                <div
                                                    class="area-infoPost d-flex justify-content-end align-items-center">
                                                    <a class="message-link " href="#" title="">
                                                        <span>6</span>
                                                    </a>
                                                    <div class="border-divider"></div>
                                                    <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                        21 شهریور 1399
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="hover01 column order-1  order-sm-2">
                                                <figure><a href="#" class="card-img d-block"><img
                                                            src="images/img-post6.jpg" class="img-fluid h-100" /></a>
                                                </figure>
                                            </div>
                                        </article>
                                    </div>
                                </div>
                            </div>
                            <div
                                class="area-pageination-shop  d-flex  flex-column flex-md-row justify-content-between align-items-center mb-0 mb-md-3">
                                <ul class="pagination pagination-lg d-flex justify-content-center order-2 order-md-1">
                                    <li class="page-item ms-2"><a class="page-link" href="#" aria-label="Previous"><i
                                                class="fas fa-chevron-right"></i></a></li>
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item active"><a class="page-link " href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item ">...</li>
                                    <li class="page-item"><a class="page-link" href="#">10</a></li>
                                    <li class="page-item me-2"><a class="page-link" href="#" aria-label="Next"><i
                                                class="fas fa-chevron-left"></i></a></li>
                                </ul>
                                <div
                                    class="box-select-NumberProduct-the-page d-flex align-items-center justify-content-center justify-content-md-end mb-4 mb-md-0 pb-2 pb-md-0  order-1 order-md-2">
                                    <label class="lable-select-NumberProduct-the-page"
                                        for="select-NumberProduct-the-page">نمایش </label>
                                        <select class="form-select custom-select mx-3"  id="select-NumberProduct-the-page" aria-label="Default select example">
                                            <option selected>12</option>
                                            <option value="1">24</option>
                                            <option value="2">36</option>
                                            <option value="3">48</option>
                                          </select>
                                    <span>محصول در صفحه</span>
                                </div>
                            </div>
                        </div>
                    </div>
                
                </div>
            </div>
        </section>
    </div>
{% endblock %}