{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content blog sidebar right-sidebar">
        <section class="area-sidebarContent">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-9 py-5  pe-lg-5 order-2">
                        <div class="area-content-bySidebar ">
                            <nav aria-label="breadcrumb" class="mb-4">
                                <ol class="breadcrumb breadcrumb-singleProduct ">
                                    <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                    <li class="breadcrumb-item"><a href="#">وبلاگ</a></li>
                                    <li class="breadcrumb-item active" aria-current="page">جزئیات وبلاگ نوار سمت راست</li>
                                </ol>
                            </nav>
                            <div class="title_site d-flex justify-content-start text-right">
                                <h1>لورم ایپسوم متن ساختگی با تولید سادگی</h1>
                            </div>
                            <div
                                class="row d-flex justify-content-between  align-items-center  border-top border-bottom mb-4">
                                <div
                                    class="col-12 col-md-6 px-0 area-porofileAuthor-singlePost py-3  d-flex align-items-center justify-content-center justify-content-md-start mb-2 mb-md-0">
                                    <div
                                        class="porofile_author porofile_author-singlePost d-flex align-items-center ms-1">
                                        <a href="#"> <img class="imgAuthor" src="images/castomer9787.jpg"  /></a>
                                        <div>
                                            <a href="#" class="porofileName">فاطمه حمزه عوفی</a>
                                            <div class="area-infoPost d-flex justify-content-end align-items-center mt-2">
                                                <a class="message-link " href="#" title="">
                                                    <span>6</span>
                                                </a>
                                                <div class="border-left mx-3 mx-lg-2 mx-xl-3" style="height: 20px;">
                                                </div>
                                                <a title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                    21 شهریور 1399
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-btn-follow-author me-4">
                                        <a href="#" class="button-outline"> فالو کنید</a>
                                    </div>
                                </div>
                                <div
                                    class="col-12 col-md-6 px-0 py-3 d-flex justify-content-center justify-content-md-end ">
                                    <div class="social-Icon-singleProduct d-flex align-items-center ">
                                        <span>اشتراک گذاری: </span>
                                        <div class="area-socialIcon d-flex me-3">
                                            <a href="http://www.facebook.com" class="icon facebook"><span
                                                class="tooltip-site">Facebook</span></a>
                                        <a href="http://www.github.com" class="icon instegram"><span
                                                class="tooltip-site">instegram</span></a>
                                        <a href="http://www.dribble.com" class="icon linkedin"><span
                                                class="tooltip-site">linkedin</span></a>
                                        <a href="http://www.twitter.com" class="icon twitter"><span
                                                class="tooltip-site">Twitter</span></a>
                                     
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="py-2 py-lg-3 mb-4">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط .
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                            </p>
                            <h2 class="mb-4 heading-singlBlog"> لورم ایپسوم متن ساختگی با تولید سادگی </h2>
                            <div class="owl-carousel slider_singlePost  slider-fancybox-gallery mb-5" >
                                <div class="item-slider_singlePost">
                                    <div class="gallery fancybox-gallery-singlePost">
                                        <a href="images/imgPost8.jpg">
                                            <img class="img-fluid" src="images/imgPost8.jpg"
                                                alt="Chrysanthemum: nice flower." />
                                            <span>لورم ایپسوم متن ساختگی</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slider_singlePost">
                                    <div class="gallery fancybox-gallery-singlePost">
                                        <a href="images/img-Post7.jpg">
                                            <img class="img-fluid" src="images/img-Post7.jpg"
                                                alt="Chrysanthemum: nice flower." />
                                            <span>لورم ایپسوم متن ساختگی</span>
                                        </a>
                                    </div>
                                </div>
                                <div class="item-slider_singlePost">
                                    <div class="gallery fancybox-gallery-singlePost">
                                        <a href="images/img-post5.jpg">
                                            <img class="img-fluid" src="images/img-post5.jpg"
                                                alt="Chrysanthemum: nice flower." />
                                            <span>لورم ایپسوم متن ساختگی</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <p class="mb-4 mb-md-5">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک
                                    است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                                    شرایط .
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافی
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گراف
                                    است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای
                                    شرایط .
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک
                                    است،
                                    است،
                                </p>
                             
                            </div>
                            <h2 class="mb-4 heading-singlBlog">نظر کارشناس</h3>
                                <div class="area-blockquote p-4 mb-4">
                                    <div class="p-3">
                                        <blockquote class="blockquote">
                                            <p class="mb-3"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و
                                                با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                                                ستون و سطر آنچنان که لازم است، و برای شرایط لورم ایپسوم متن ساختگی با
                                                تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است،
                                                چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و
                                                برای شرایط .</p>
                                            <p class="mb-3">لورم ایپسوم متن ساختگی با تولید سادگی نامفهومط</p>
                                            <footer class="footer-blockquote">فاطمه حمزه عوفی</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <p class="mb-5 py-3"> ورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با
                                    استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر
                                    آنچنان که لازم است، و برای شرایط لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از
                                    صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در
                                    ستون و سطر آنچنان که لازم است، و برای شرایط .
                                </p>
                                <div
                                    class="row d-flex justify-content-between position-relative align-items-center  border-top border-bottom mb-5">
                                    <div
                                        class="col-12 col-md-6 pb-0 pb-md-4 pt-4  px-0 d-flex justify-content-center justify-content-md-start align-items-center">
                                        <div class="area-Tages-sidebar ">
                                            <a class="ms-1" href="#">#برندها</a>
                                            <a class="ms-1" href="#">#خرید آنلاین</a>
                                            <a class="ms-1" href="#">#امور مالی شخصی</a>
                                        </div>
                                    </div>
                                    <div class="d-none d-md-block border-left border-reft-areaTagesSidebar h-100"></div>
                                    <div
                                        class="col-12 col-md-6  py-4 d-flex d-flex justify-content-center justify-content-md-end px-0">
                                        <div class="social-Icon-singleProduct d-flex align-items-center ">
                                            <span>اشتراک گذاری: </span>
                                            <div class="area-socialIcon d-flex me-3">
                                                <a href="http://www.facebook.com" class="icon facebook"><span
                                                    class="tooltip-site">Facebook</span></a>
                                            <a href="http://www.github.com" class="icon instegram"><span
                                                    class="tooltip-site">instegram</span></a>
                                            <a href="http://www.dribble.com" class="icon linkedin"><span
                                                    class="tooltip-site">linkedin</span></a>
                                            <a href="http://www.twitter.com" class="icon twitter"><span
                                                    class="tooltip-site">Twitter</span></a>
                                       
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div
                                    class="area-preNext-Post d-flex align-items-center justify-content-between mb-5 pb-0 pb-lg-4">
                                    <a href="#" class="ms-5 ms-sm-0">
                                        <h3 class="title-preNext-Post mb-3">پست قبلی</h3>
                                        <div class="d-flex align-items-center">
                                            <div class="d-none d-sm-block ms-3 grayscale"> <img
                                                    class="img-Post-thumbnail" src="images/Post-thumbnail1.jpg"
                                                     />
                                            </div>
                                            <div class="details-Post-thumbnail ">
                                                <h4 class="mb-1"> لورم ایپسوم متن ساختگی با تولید سادگی
                                                </h4>
                                                <p>نویسنده: فاطمه حمزه عوفی</p>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="#">
                                        <h3 class="title-preNext-Post mb-3 text-left">پست بعدی</h3>
                                        <div class="d-flex align-items-center">
                                            <div class="d-none d-sm-block grayscale order-2 me-2"> <img
                                                    class="img-Post-thumbnail" src="images/Post-thumbnail2.jpg"
                                                     />
                                            </div>
                                            <div class="details-Post-thumbnail text-left text-sm-right">
                                                <h4 class="mb-1">لورم ایپسوم متن ساختگی با تولید سادگی
                                                </h4>
                                                <p>نویسنده: فاطمه حمزه عوفی</p>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="box-comments mb-5">
                                    <h2 class="heading-singlBlog mb-4"><span>3</span> دیدگاه</h2>
                                    <div class="item-comment  border-bottom  mb-4 pb-4">
                                        <p class="mb-3">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                            طراحان
                                            گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است، و
                                            برای شرایط
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between">
                                            <div class="porofile_customers-comment d-flex align-items-center">
                                                <img src="images/castomer9787.jpg"  />
                                                <div class="porofileName">
                                                    <h6>فاطمه حمزه عوفی</h6>
                                                    <span>3 روز پیش</span>
                                                </div>

                                            </div>
                                            <div class="box-btn-peply">
                                                <a href="#" class="btn-peply"> پاسخ</a>
                                            </div>
                                        </div>
                                        <div class="reply-comment mt-4">
                                            <p class="mb-3">
                                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده
                                                از
                                                طراحان
                                                گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که
                                                لازم
                                                است، و
                                                برای شرایط
                                            </p>
                                            <div class="">
                                                <div class="porofile_customers-comment d-flex align-items-center">
                                                    <img src="images/castomerse5262.jpg"  />
                                                    <div class="porofileName">
                                                        <h6>محمد عوفی</h6>
                                                        <span>2 روز پیش</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="item-comment  border-bottom mb-4 pb-4">
                                        <p class="mb-3">
                                            لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از
                                            طراحان
                                            گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم
                                            است، و
                                            برای شرایط
                                        </p>
                                        <div class="d-flex align-items-center justify-content-between ">
                                            <div class="porofile_customers-comment d-flex align-items-center">
                                                <img src="images/castomer9787.jpg"  />
                                                <div class="porofileName">
                                                    <h6>فاطمه حمزه عوفی</h6>
                                                    <span>3 روز پیش</span>
                                                </div>
                                            </div>
                                            <div class="box-btn-peply">
                                                <a href="#" class="btn-peply"> پاسخ</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box-btn-comment">
                                        <a href="#" class="button-outline"> به گفتگو بپیوندید</a>
                                    </div>
                                    <div class="area-comment-post  mb-5">
                                        <form class="px-4 px-md-3 px-lg-4 pt-4 pt-md-4 form-reviews" action="#!">
                                            <div class="form-group mb-4">
                                                <label for="Input-name">نام و نام خانوادگی <span
                                                        class="text-danger ">*</span>
                                                </label>
                                                <input type="text" class="form-control" id="Input-name"
                                                    placeholder="محمد عوفی">
                                            </div>
                                            <div class="form-group mb-4">
                                                <label for="input-email">آدرس ایمیل<span class="text-danger">*</span>
                                                </label>
                                                <input type="email" class="form-control" id="input-email"
                                                    placeholder="name@example.com">
                                                <small class="text-form-description">فقط احراز هویت شما را اسپم نمی
                                                    کنیم</small>
                                            </div>
                                            <div class="form-group mb-4">
                                                <label for="textarea-form">نوشتن دیدگاه <span
                                                        class="text-danger">*</span></label>
                                                <textarea class="form-control" id="textarea-form" rows="6"
                                                    placeholder="پیام شما"></textarea>
                                                <small class="text-form-description">دیدگاه شما باید حداقل 50 کاراکتر
                                                    باشد</small>
                                            </div>
                                            <button class="btn-5" type="button">ارسال دیدگاه</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="mb-0 mb-md-3">
                                    <h2 class="mb-3 heading-singlBlog">آخرین پست ها</h2>
                                    <div class="owl-carousel slider-Related-posts ">
                                        <div class="item_slider-Related-posts">
                                            <div class="card">
                                                <div class="hover01 column">
                                                    <figure>
                                                        <img class="card-img-top" src="images/img-post1.jpg"
                                                            alt="Card image cap" />
                                                    </figure>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="post-categories mb-3">
                                                        <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                    </ul>
                                                    <h2 class="title-post mb-3"> <a href="#">لورم ایپسوم متن ساختگی
                                                            با
                                                            تولید سادگی</a></h2>
                                                    <div  class="porofile_author porofile_author-cardRelatedposts   mb-3">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <img class="imgAuthor" src="images/castomer9787.jpg" >
                                                            <div class="porofileName">
                                                                <span>نویسنده:</span>
                                                                <span>فاطمه حمزه عوفی</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="area-infoPost d-flex justify-content-end align-items-center">
                                                        <a class="message-link " href="#" title="">
                                                            <span>6</span>
                                                        </a>
                                                        <div class="border-left mx-3" style="height: 20px;"></div>
                                                        <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                            21 شهریور 1399
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_slider-Related-posts">
                                            <div class="card">
                                                <div class="hover01 column">
                                                    <figure>
                                                        <img class="card-img-top" src="images/img-post2.jpg"
                                                            alt="Card image cap" />
                                                    </figure>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="post-categories mb-3">
                                                        <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                    </ul>
                                                    <h2 class="title-post mb-3"> <a href="#">لورم ایپسوم متن ساختگی
                                                            با
                                                            تولید سادگی</a></h2>
                                                    <div
                                                        class="porofile_author porofile_author-cardRelatedposts   mb-3">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <img class="imgAuthor" src="images/castomer9787.jpg" >
                                                            <div class="porofileName">
                                                                <span>نویسنده:</span>
                                                                <span>فاطمه حمزه عوفی</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="area-infoPost d-flex justify-content-end align-items-center">
                                                        <a class="message-link " href="#" title="">
                                                            <span>6</span>
                                                        </a>
                                                        <div class="border-left mx-3" style="height: 20px;"></div>
                                                        <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                            21 شهریور 1399
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_slider-Related-posts">
                                            <div class="card">
                                                <div class="hover01 column">
                                                    <figure>
                                                        <img class="card-img-top" src="images/img-post3.jpg"
                                                            alt="Card image cap" />
                                                    </figure>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="post-categories mb-3">
                                                        <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                    </ul>
                                                    <h2 class="title-post mb-3"> <a href="#">لورم ایپسوم متن ساختگی با
                                                            تولید سادگی</a></h2>
                                                    <div
                                                        class="porofile_author porofile_author-cardRelatedposts   mb-3">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <img class="imgAuthor" src="images/castomer9787.jpg" >
                                                            <div class="porofileName">
                                                                <span>نویسنده:</span>
                                                                <span>فاطمه حمزه عوفی</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="area-infoPost d-flex justify-content-end align-items-center">
                                                        <a class="message-link " href="#" title="">
                                                            <span>6</span>
                                                        </a>
                                                        <div class="border-left mx-3" style="height: 20px;"></div>
                                                        <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                            21 شهریور 1399
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="item_slider-Related-posts">
                                            <div class="card">
                                                <div class="hover01 column">
                                                    <figure>
                                                        <img class="card-img-top" src="images/img-post4.jpg"
                                                            alt="Card image cap" />
                                                    </figure>
                                                </div>
                                                <div class="card-body">
                                                    <ul class="post-categories mb-3">
                                                        <li><a href="#" rel="category tag">آموزش اhtml-css</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                        <li><a href="#" rel="category tag">آموزش طراحی سایت</a></li>
                                                    </ul>
                                                    <h2 class="title-post mb-3"> <a href="#">لورم ایپسوم متن ساختگی
                                                            با
                                                            تولید سادگی</a></h2>
                                                    <div
                                                        class="porofile_author porofile_author-cardRelatedposts   mb-3">
                                                        <a href="#" class="d-flex align-items-center">
                                                            <img class="imgAuthor" src="images/castomer9787.jpg"
                                                                 />
                                                            <div class="porofileName">
                                                                <span>نویسنده:</span>
                                                                <span>فاطمه حمزه عوفی</span>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div
                                                        class="area-infoPost d-flex justify-content-end align-items-center">
                                                        <a class="message-link " href="#" title="">
                                                            <span>6</span>
                                                        </a>
                                                        <div class="border-left mx-3" style="height: 20px;"></div>
                                                        <a href="#" title="۸ اسفند, ۱۳۹۸" class="data-link">
                                                            21 شهریور 1399
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block col-3 pt-5 pe-lg-3 ps-lg-0 pe-xl-0 ps-xl-4  order-1 ">
                        <aside>
                            <div class="area-sidebar">
                                <div class="area-search-sidebr mb-5">
                                    <header>
                                        <h3 class="title-widget-sidebar mb-3">جستجو نوشته</h3>
                                    </header>
                                    <section>
                                        <form class="search-form d-flex w-100 mt-1" action="" method="get">
                                            <input type="text" class="form-control input_search " name="" value=""
                                                placeholder="دنبال چه میگردید">
                                            <button type="submit">
                                                <svg width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path fill-rule="evenodd"
                                                        d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z">
                                                    </path>
                                                    <path fill-rule="evenodd"
                                                        d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z">
                                                    </path>
                                                </svg>
                                            </button>
                                        </form>
                                    </section>
                                </div>
                                <div class="category-siabar category-siabar-singlePost  mb-5" id="accordian">
                                    <header>
                                        <h3 class="title-widget-sidebar mb-3">دسته بندی</h3>
                                    </header>
                                    <section>
                                        <ul class="menu-categorySidebar">
                                            <li><a href="#">آموزش طراحی سایت <span class="badge-sidebar-shop">55</span></a>
                                            </li>
                                            <li><a href="#">آموزش php <span
                                                        class="badge-sidebar-shop">125</span></a>
                                            </li>
                                            <li><a href="#">آموزش وردپرس <span class="badge-sidebar-shop">105</span></a>
                                            </li>
                                            <li><a href="#">آموزش برنامه نویسی <span class="badge-sidebar-shop">95</span> </a>
                                            </li>
                                            <li><a href="#">جاوا اسکریپت<span class="badge-sidebar-shop">20</span></a>
                                            </li>
                                            <li><a href="#">آموزش html<span
                                                        class="badge-sidebar-shop">20</span></a>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="area-post-thumbnail area-post-thumbnail-sidebar mb-5">
                                    <header>
                                        <h3 class="title-widget-sidebar mb-4">پست های پر طرفدار</h3>
                                    </header>
                                    <section>
                                        <ul>
                                            <li class="d-flex mb-3">
                                                <a href="#" class="grayscale">
                                                    <img class="img-Post-thumbnail" src="images/imgPost1.jpg"  />
                                                </a>
                                                <div class="details-Post-thumbnail">
                                                    <h4 class="mb-1"> <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی
                                                        </a> </h4>
                                                    <p>نویسنده: فاطمه حمزه عوفی</p>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-3">
                                                <a href="#" class="grayscale">
                                                    <img class="img-Post-thumbnail" src="images/imgPost2.jpg"  />
                                                </a>
                                                <div class="details-Post-thumbnail">
                                                    <h4 class="mb-1"> <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی
                                                        </a> </h4>
                                                    <p>نویسنده: فاطمه حمزه عوفی</p>
                                                </div>
                                            </li>
                                            <li class="d-flex mb-3">
                                                <a href="#" class="grayscale">
                                                    <img class="img-Post-thumbnail" src="images/imgPost3.jpg"  />
                                                </a>
                                                <div class="details-Post-thumbnail">
                                                    <h4 class="mb-1"> <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی
                                                        </a> </h4>
                                                    <p>نویسنده: فاطمه حمزه عوفی</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </section>
                                </div>
                                <div class="area-Tages-sidebar mb-5">
                                    <header>
                                        <h3 class="title-widget-sidebar mb-4">تگ های محبوب</h3>
                                    </header>
                                    <section>
                                        <a class="ms-1 mb-2" href="#">برندها</a>
                                        <a class="ms-1 mb-2" href="#">کسب و کار</a>
                                        <a class="ms-1 mb-2" href="#">خرید آنلاین</a>
                                        <a class="ms-1 mb-2" href="#">امور مالی شخصی</a>
                                        <a class="ms-1 mb-2" href="#">کسب و کار</a>
                                        <a class="ms-1 mb-2" href="#">خرید آنلاین</a>
                                    </section>
                                </div>
                            </div>
                        </aside>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}