{% extends 'parent/base.html' %}
{% load poll_extras %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <section>
            <div class="bg-gradiant-account">
                <div class="area-shape-bottom">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 3000 260">
                        <polygon fill="currentColor" points="0,257 0,260 3000,260 3000,0"></polygon>
                    </svg>
                </div>
            </div>
        </section>
        <section class="mb-5 area-content-paccount">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-lg-4 mb-4 mb-lg-0">
                        <div class="sidebar-account ">
                            <div class="avatar-user d-flex flex-column justify-content-center align-items-center mb-4">
                                {% if user.profile_image %}
                                <img class="img-avatar-user" src="{{ user.profile_image.url }}">
                                {% endif %}
                                <div class="name-avatar-user">
                                    <h4>{{ user.fullname }}</h4>
                                </div>
                            </div>
                            <div class="account-menu d-none d-lg-block">
                                <div class="nav flex-column nav-pills nav-pills-account-menu" id="v-pills-tab"
                                    role="tablist" aria-orientation="vertical">
                                    <button class="nav-link border-bottom-none ">
                                        <h3>داشبورد</h3>
                                    </button>
                                    <button class="nav-link  active" id="favorits-tab" data-bs-toggle="pill"
                                        data-bs-target="#content1" type="button" role="tab" aria-controls="content1"
                                        aria-selected="false">
                                        <i class="fal fa-heart ms-2"></i>علاقه مندی ها <span
                                            class="dropdown-user-account-meta">{{ favorites.count }}</span>
                                    </button>
                                    <button class="nav-link" id="comment-tab" data-bs-toggle="pill"
                                        data-bs-target="#content2" type="button" role="tab" aria-controls="content2"
                                        aria-selected="false">
                                        <i class="fal fa-comment-alt ms-2"></i>
                                        دیدگاهها
                                        <span class="dropdown-user-account-meta">{{ comments_count }}</span>
                                    </button>
                                    <button class="nav-link" id="contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#content3" type="button" role="tab" aria-controls="content9"
                                        aria-selected="false">

                                        <i class="fal fa-map-marker-alt  ms-2"></i>
                                        نشانی ها
                                        <span class="dropdown-user-account-meta">{{ addresses.count }}</span>
                                    </button>
                                    <button class="nav-link " id="orders-tab" data-bs-toggle="pill"
                                        data-bs-target="#content4" type="button" role="tab" aria-controls="content4"
                                        aria-selected="true">
                                        <i class="fal fa-cart-arrow-down  ms-2"></i>
                                        سفارش ها
                                        <span class="dropdown-user-account-meta">{{ buckets.count }}</span> </a></li>
                                    </button>
                                    <button class="nav-link border-bottom-none">
                                        <h3>تنظیمات حساب کاربری</h3>
                                    </button>
                                    <button class="nav-link" id="infoprofile-tab" data-bs-toggle="pill"
                                        data-bs-target="#content5" type="button" role="tab" aria-controls="content5"
                                        aria-selected="false">
                                        اطلاعات پروفایل
                                    </button>
                                    <button class="nav-link" id="changePassword-tab" data-bs-toggle="pill"
                                        data-bs-target="#content6" type="button" role="tab" aria-controls="content6"
                                        aria-selected="false">
                                        تغییر
                                        رمز عبور
                                    </button>
                                    <button class="nav-link d-flex align-items-center justify-content-between"
                                        id="notification-tab" data-bs-toggle="pill" data-bs-target="#content9"
                                        type="button" role="tab" aria-controls="content9" aria-selected="false">
                                        اعلان ها
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="flexSwitchCheckDefault">
                                        </div>
                                    </button>
                                    <button class="nav-link" id="logout" type="button">
                                        <i class="fal fa-sign-out-alt  ms-2"></i>خروج
                                    </button>
                                </div>
                            </div>
                            <div class="area-account-menu-collapse d-block d-lg-none">
                                <div class="area-btn-collapse-accountMenu  mb-4">
                                            <a class="btn btn-5" data-bs-toggle="collapse" href="#area-account-menu" role="button" aria-expanded="false" aria-controls="area-account-menu">
                                                منو اکانت
                                                <i class="fas fa-bars me-2"></i>
                                            </a>
                                </div>
                                <div class="collapse account-menu" id="area-account-menu">
                                    <div class="nav flex-column nav-pills nav-pills-account-menu" id="v-pills-tab"
                                    role="tablist" aria-orientation="vertical">
                                    <button class="nav-link border-bottom-none ">
                                        <h3>داشبورد</h3>
                                    </button>
                                    <button class="nav-link active" id="favorits-tab" data-bs-toggle="pill"
                                        data-bs-target="#content1" type="button" role="tab" aria-controls="content1"
                                        aria-selected="false">
                                        <i class="fal fa-heart ms-2"></i>علاقه مندی ها <span
                                            class="dropdown-user-account-meta">6</span>
                                    </button>
                                    <button class="nav-link" id="comment-tab" data-bs-toggle="pill"
                                        data-bs-target="#content2" type="button" role="tab" aria-controls="content2"
                                        aria-selected="false">
                                        <i class="fal fa-comment-alt ms-2"></i>
                                        دیدگاهها
                                        <span class="dropdown-user-account-meta">{{ comments_count }}</span>
                                    </button>
                                    <button class="nav-link " id="contact-tab" data-bs-toggle="pill"
                                        data-bs-target="#content3" type="button" role="tab" aria-controls="content9"
                                        aria-selected="false">
                                        <i class="fal fa-map-marker-alt  ms-2"></i>
                                        نشانی ها
                                        <span class="dropdown-user-account-meta">{{ addresses.count }}</span>
                                    </button>
                                    <button class="nav-link " id="orders-tab" data-bs-toggle="pill"
                                        data-bs-target="#content4" type="button" role="tab" aria-controls="content4"
                                        aria-selected="true">
                                        <i class="fal fa-cart-arrow-down  ms-2"></i>
                                        سفارش ها
                                        <span class="dropdown-user-account-meta">{{ buckets_count }}</span> </a></li>
                                    </button>
                                    <button class="nav-link border-bottom-none">
                                        <h3>تنظیمات حساب کاربری</h3>
                                    </button>
                                    <button class="nav-link" id="infoprofile-tab" data-bs-toggle="pill"
                                        data-bs-target="#content5" type="button" role="tab" aria-controls="content5"
                                        aria-selected="false">
                                        اطلاعات پروفایل
                                    </button>
                                    <button class="nav-link" id="changePassword-tab" data-bs-toggle="pill"
                                        data-bs-target="#content6" type="button" role="tab" aria-controls="content6"
                                        aria-selected="false">
                                    تغییر
                                        رمز عبور
                                    </button>
                                    <button class="nav-link d-flex align-items-center justify-content-between"
                                        id="notification-tab" data-bs-toggle="pill" data-bs-target="#content9"
                                        type="button" role="tab" aria-controls="content9" aria-selected="false">
                                        اعلان ها
                                        <div class="form-check form-switch">
                                            <input class="form-check-input" type="checkbox" role="switch"
                                                id="flexSwitchCheckDefault">
                                        </div>
                                    </button>
                                    <button class="nav-link" id="logout" type="button">
                                        <i class="fal fa-sign-out-alt  ms-2"></i>خروج
                                    </button>
                                   </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-8">
                        <div class="tab-content tab-content-account-user" id="myTabContent">
                            <div class="tab-pane fade show active" id="content1" role="tabpanel"
                                aria-labelledby="favorits-tab">
                                <div
                                    class="header-tab-content-account d-flex justify-content-between align-items-center mb-4">
                                    <h1 class="title-tabcontent-account ms-2">
                                        علاقه مندی ها
                                        <span class="count-content-tab me-2">6</span>
                                    </h1>
                                    <form>
                                        <button class="btn btn-remove-favorites" type="button"><i
                                                class="fas fa-trash-alt ms-2"></i>حذف همه</button>
                                    </form>
                                </div>
                                <div class="row">
                                    {% for favorite in favorites %}
                                    <div
                                        class="col-12   col-sm-6 col-md-4 col-lg-6 col-xl-4 mb_col_productNew d-flex justify-content-center">
                                        <div class="product_cart product_cart-account">
                                            <a class="card-floating-icon" href="#"> <i class="fas fa-trash-alt"></i></a>
                                            <a href="#" class="card_product_img"><img src="{{ favorite.product.image.url }}"
                                                    class="img-fluid"></a>
                                            <div class="body_card_product text-right">
                                                <a href="#">
                                                    <h3>{{ favorite.product.title }}</h3>
                                                </a>
                                                <div class="price_card_product"> <del
                                                        class="ms-1">{{ favorite.product.price | money_format }}تومان</del><span>
                                                        {{ favorite.product.price_after_off | money_format }}
                                                        تومان</span></div>
                                            </div>
                                            <div
                                                class="card_footer_product d-flex justify-content-between align-items-center">
                                                <div class="star_rating">
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon star-icon-active"><i
                                                            class="far fa-star"></i></span>
                                                    <span class="star-icon "><i class="far fa-star"></i></span>
                                                    <span class="star-icon"><i class="far fa-star"></i></span>
                                                </div>
                                                <div class="area_icon_cardFooter d-flex align-items-center">
                                                    <a href="#" class="p-0"><i class="fal fa-cart-plus"></i><span
                                                            class="tooltip-site tooltip-cardFooter-account"> سبد
                                                            خرید </span></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            <div class="tab-pane fade" id="content2" role="tabpanel" aria-labelledby="v-pills-profile-tab">

                            # comments box

                            </div>
                            <div class="tab-pane fade" id="content3" role="tabpanel"
                                aria-labelledby="v-pills-messages-tab">
                                <div class="header-tab-content-account  mb-4">
                                    <h1 class="title-tabcontent-account">
                                        نشانی ها
                                    </h1>
                                </div>
                                {% for address in addresses %}
                                <div class="profile-address-container">
                                    <div class="profile-address-itemTop mb-3"> {{ address.address }}
                                    </div>
                                    <div class="profile-address-content">
                                        <ul>
                                            <li>
                                                <div class="profile-address-item profile-address-item-location mb-2"><i
                                                        class="fal fa-map-marker-alt ms-2"></i>{{ address.state }}، {{ address.city }}</div>
                                            </li>
                                            <li>
                                                <div class="profile-address-item profile-address-item-postalCode mb-2">
                                                    <i class="far fa-envelope ms-2"></i>{{ address.post_code }}</div>
                                            </li>
                                            <li>
                                                <div class="profile-address-item profile-address-item-phone mb-2"><i
                                                        class="fal fa-phone-alt ms-2"></i>{{ address.plaque }}</div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                {% endfor %}
                            </div>
                            <div class="tab-pane fade" id="content4" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">


                                # Buckets


                            </div>
                            <div class="tab-pane fade" id="content5" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">

                                # Edit Form

                            </div>
                            <div class="tab-pane fade" id="content6" role="tabpanel"
                                aria-labelledby="v-pills-settings-tab">
                                <div class="header-tab-content-account  mb-4">
                                    <h1 class="title-tabcontent-account">
                                        تغییر رمز عبور
                                    </h1>
                                </div>
                                <form>
                                    <div class="pb-4 mb-4">
                                        <div class="form-group">
                                            <label for="input-passwordNew">پسورد جدید</label>
                                            <input type="password" class="form-control inputpassword"
                                                id="input-passwordNew">
                                        </div>
                                        <div class="form-check showPasswork-checkbox my-3 my-sm-0">
                                            <input type="checkbox" class="form-check-input ms-1"
                                                id="checkbox-passwordNew" onclick="showPassword()">
                                            <label class="form-check-label" for="checkbox-passwordNew">نمایش
                                                رمز عبور</label>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="form-group">
                                            <label for="input-password-repetition">تکرار پسورد جدید</label>
                                            <input type="password" class="form-control inputpassword-repetition"
                                                id="input-password-repetition">

                                        </div>
                                        <div class="form-check showPasswork-checkbox my-3 my-sm-0">
                                            <input type="checkbox" class="form-check-input ms-1"
                                                id="checkbox-password-repetition" onclick="showPassword2()">
                                            <label class="form-check-label" for="checkbox-password-repetition">نمایش
                                                رمز عبور</label>
                                        </div>
                                    </div>
                                    <div class="d-flex justify-content-end mt-4">

                                        <div class="area-btn-save">
                                            <button type="submit" class="btn btn-5"> ذخیره تغییرات<i
                                                    class="far fa-sd-card me-2"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}