{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <section class="area-our-mission">
            <div class="container pt-5 pt-lg-3  pt-xl-5 mt-2">
                <div class="row d-flex align-items-center justify-content-between">
                    <div class="col-12 col-lg-5 ">
                        <div class="box-our-mission ps-lg-4">
                            <h1 class="mb-2">اهداف و ماموریت ما</h1>
                            <h2 class="mb-4">چگونه به شرکت های دیگر کمک می کنیم تا رشد کنند</h2>
                            <div class="mb-5">
                                <p class="text-our-mission">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط .
                                </p>
                            </div>
                            <div class="d-flex align-items-center"> <a href="video/bootstrap_v4_part35.mp4"
                                    data-fancybox="video-gallery" data-title="" class="iconPlay-video-gallery sty2 ms-3"> <i
                                        class="far fa-play"></i></a>
                                <span>ما را بهتر بشناسید</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-none d-lg-block  col-7 area-card-our-mission ">
                        <div class="bg-card-our-mission w-100 rotat"> <img src="images/bg-about.svg" class="h-100 w-100" />
                        </div>
                        <div class="row h-100 card-our-mission mgleft sty2">
                            <div class="col-4 px-2">
                                <a href="#"
                                    class="card card-body d-flex justify-content-center align-items-center h-100">
                                    <i class="far fa-paint-brush-alt text-primary"></i>
                                    <h3>طراحی گرافیک</h3>
                                </a>
                            </div>
                            <div class="col-4 px-2 d-flex flex-column ">
                                <a href="#"
                                    class="card card-body  flex-column align-items-center justify-content-center mb-3">
                                    <i class="fal fa-user-headset text-warning"></i>
                                    <h3>پشتیبانی فوق العاده</h3>
                                </a>
                                <a href="#"
                                    class="card card-body d-flex  flex-column align-items-center justify-content-center">
                                    <i class="fab fa-sketch text-secondary"></i>
                                    <h3>ایده خلاقانه</h3>
                                </a>
                            </div>
                            <div class="col-4 px-2 d-flex flex-column">
                                <a href="#"
                                    class="card card-body d-flex  flex-column align-items-center justify-content-center mb-3">
                                    <i class="fal fa-pen-nib text-danger"></i>
                                    <h3>طراحی لوگو</h3>
                                </a>
                                <a href="#"
                                    class="card card-body d-flex  flex-column align-items-center justify-content-center">
                                    <i class="far fa-external-link text-info"></i>
                                    <h3>مارکتینگ</h3>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </section>
        <section class="area-counterUp ">
            <div class="container">
                <div class="row">
                    <div
                        class="col-sm-6 col-md-3 counter  d-flex justify-content-center align-items-center flex-column mb-4 mb-sm-4">
                        <h2 class="timer count-title count-number mb-1" data-to="300" data-speed="1500"></h2>
                        <p class="count-text mb-3 text-center">پروژه با موفقیت به پایان رسید</p>
                        <i class="fal fa-shield-check"></i>
                    </div>
                    <div
                        class="col-sm-6  col-md-3  counter d-flex justify-content-center align-items-center flex-column mb-4 mb-sm-4">
                        <h2 class="timer count-title count-number mb-1" data-to="1700" data-speed="1500"></h2>
                        <p class="count-text mb-3 text-center">بازخود مثبت</p>
                        <i class="fal fa-comment-alt-smile"></i>
                    </div>
                    <div
                        class="col-sm-6  col-md-3  counter d-flex justify-content-center align-items-center flex-column mb-4">
                        <h2 class="timer count-title count-number mb-1" data-to="11900" data-speed="1500"></h2>
                        <p class="count-text mb-3 text-center">مشتری راضی داریم</p>
                        <i class="fal fa-smile"></i>
                    </div>
                    <div
                        class="col-sm-6  col-md-3  counter d-flex justify-content-center align-items-center flex-column mb-4">
                        <h2 class="timer count-title count-number mb-1" data-to="10" data-speed="1500"></h2>
                        <p class="count-text mb-3 text-center">سال تجربه</p>
                        <i class="fal fa-flask"></i>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-card-pepleCompany ">
            <div class="container ">
                <div class="row">
                    <div class="col-12">
                        <div class="title_site">
                            <h2>افراد تیم ما</h2>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div
                        class="col-12 col-sm-6 col-md-4   col-lg-3 mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company1.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">زهرا محمدی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company2.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">لیلا احمدی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company3.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">علی حمزه عوفی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company4.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">ماندانا رضایی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company5.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">علی حمزه عوفی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company6.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">نازنین اکرمی</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company7.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">فاطمه احمدزاده</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                    <div
                        class="col-12 col-sm-6 col-md-4  col-lg-3  mb_col_card-pepleCompany d-flex justify-content-center">
                        <div class="card card-pepleCompany">
                            <a class="card-floating-icon" href="#"> <i class="far fa-envelope"></i></a>
                            <div class="card-img-top ">
                                <img src="images/peple-company8.jpg">
                            </div>
                            <div class="card-body text-center pt-1">
                                <h3 class="mb-2">مریم رضازاده</h3>
                                <p> مدیر بازاریابی</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div
                            class="area-recruitment py-5 px-4  d-flex justify-content-center align-items-center flex-column flex-md-row">
                            <div class="box-text-recruitment mb-4 mb-md-0 ">
                                <h3 class="mb-2">آیا می خواهید بخشی از تیم ما باشید؟ ما استخدام می کنیم</h3>
                                <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ،
                                </p>
                            </div>
                            <div class="area-btn-recruitment d-flex justify-content-center">
                                <a href="#" class="btn-5" type="button">ارسال درخواست</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class=" mb-5 pb-4">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title_site mb-4 mb-sm-5">
                            <h2>ما با شرکت های برتر جهان کار می کنیم</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/adidas1.png" class="img1_barand img-fluid " />
                                <img src="images/adidas2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/brooks1.png" class="img1_barand img-fluid " />
                                <img src="images/brooks2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/fila1.png" class="img1_barand img-fluid " />
                                <img src="images/fila2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/amazon1.png" class="img1_barand img-fluid " />
                                <img src="images/amazon2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/fila1.png" class="img1_barand img-fluid " />
                                <img src="images/fila2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/canon1.png" class="img1_barand img-fluid " />
                                <img src="images/canon2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/sennheiser1.png" class="img1_barand img-fluid " />
                                <img src="images/sennheiser2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/puma1.png" class="img1_barand img-fluid " />
                                <img src="images/poma2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/rayban1.png" class="img1_barand img-fluid " />
                                <img src="images/rayban2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/fila1.png" class="img1_barand img-fluid " />
                                <img src="images/fila2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/brooks1.png" class="img1_barand img-fluid " />
                                <img src="images/brooks2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                    <div class="col-6 col-sm-4 col-lg-3 mb_col_barand">
                        <a href="#" class="d-block">
                            <div class="area_img_barand">
                                <img src="images/amazon1.png" class="img1_barand img-fluid " />
                                <img src="images/amazon2.png" class="img2_barand img-fluid " />
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}