{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content">
        <section>
            <div class="bg-gradiant contact-us contacts-v2 d-flex align-items-center">
                <div class="container text-center">
                    <div class="row justify-content-center">
                        <div class="col-sm-10 col-md-7  col-lg-6 text-header-contact">
                            <h1 class="h2 text-light mb-3">تماس با ما</h1>
                            <p class="text-light"> با تکمیل فرم زیر با ما تماس بگیرید یا اکنون با ما تماس بگیرید ما به
                                طور معمول ظرف 2 روز کاری پاسخ می دهیم.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-information-contacts-v2 mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
            <div class="container">
                <div class="row ">
                    <div class="col-12  col-sm-6 col-lg-3 item-card-info-contact">
                        <div class="box-icon-contact-us">
                            <div class="card ">
                                <div class="card-header">
                                    <i class="far fa-envelope  text-success"></i>
                                </div>
                                <div class="card-body p-0">

                                    <h5 class="card-title">آدرس ایمیل</h5>
                                    <div class="card-text ">
                                        <p class="mb-0">
                                            example.gmail.com </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  col-sm-6 col-lg-3 item-card-info-contact">
                        <div class="box-icon-contact-us">
                            <div class="card ">
                                <div class="card-header">
                                    <i class="fal fa-phone-alt text-danger"></i>
                                </div>
                                <div class="card-body p-0">
                                    <h5 class="card-title">شماره تلفن</h5>
                                    <div class="card-text">
                                        <p class="mb-0">
                                            موبایل :
                                            09125235525 </p>
                                        <p class="mb-0">
                                            تلفن :
                                            3354655 </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  col-sm-6 col-lg-3 item-card-info-contact">
                        <div class="box-icon-contact-us">
                            <div class="card ">
                                <div class="card-header">
                                    <i class="fal fa-map-marker-alt text-primary"></i>
                                </div>
                                <div class="card-body p-0">
                                    <h5 class="card-title">آدرس ما</h5>
                                    <div class="card-text">
                                        <p>
                                            اهواز، کیان پارس
                                        </p>
                                        <a class="fancy scrollTo mt-" href="#map_container">برو به گوگل مپ</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12  col-sm-6 col-lg-3  item-card-info-contact">
                        <div class="box-icon-contact-us">
                            <div class="card ">
                                <div class="card-header">
                                    <i class="fal fa-clock text-warning"></i>
                                </div>
                                <div class="card-body p-0">

                                    <h5 class="card-title">تایم کاری</h5>
                                    <div class="card-text">
                                        <p class="mb-0">
                                            از شنبه تا پنج شنبه
                                            ساعت 8 تا5 بعد از ظهر </p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="container area-address-contact-v2 mb-5 pb-sm-2 pb-md-3  pb-lg-4 pb-xl-5">
            <div class="title_site ">
                <h2>آدرس های دفتر</h2>
            </div>
            <div class="row">
                <div class="col-lg-4 col-sm-6 grid-gutter">
                    <div class="card card-information-contact-us h-100 border-0 shadow mx-auto"><img
                            class="card-img-top" src="images/img101.jpg" alt="img101">
                        <div class="card-body">

                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-start pb-3 border-bottom"><i
                                        class="fal fa-map-marker-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس 1</span><a
                                            class="d-block nav-link-style fs-sm" href="#">اهواز- کیان پارس خیابان ده
                                            شرقی</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2 pb-3 border-bottom"><i
                                        class="fal fa-phone-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">شماره تلفن</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="tel:+(613)52656544">+(613)52656544</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2"><i class="far fa-envelope ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس ایمیل</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="mailto:orlando@example.com">orlando@example.com</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-gutter">
                    <div class="card card-information-contact-us h-100 border-0 shadow mx-auto"><img
                            class="card-img-top" src="images/img102.jpg" alt="Chicago">
                        <div class="card-body">

                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-start pb-3 border-bottom"><i
                                        class="fal fa-map-marker-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس 2</span><a
                                            class="d-block nav-link-style fs-sm" href="#">اهواز- کیان پارس خیابان ده
                                            شرقی</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2 pb-3 border-bottom"><i
                                        class="fal fa-phone-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">شماره تلفن</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="tel:+(613)5462124">+(613)5462124</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2"><i class="far fa-envelope ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس ایمیل</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="mailto:chicago@example.com">chicago@example.com</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-sm-6 grid-gutter last-grid-gutter">
                    <div class="card card-information-contact-us h-100 border-0 shadow mx-auto"><img
                            class="card-img-top" src="images/img103.jpg" alt="New York">
                        <div class="card-body">

                            <ul class="list-unstyled mb-0">
                                <li class="d-flex align-items-start pb-3 border-bottom"><i
                                        class="fal fa-map-marker-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس 3</span><a
                                            class="d-block nav-link-style fs-sm" href="#">اهواز- کیان پارس خیابان ده
                                            شرقی</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2 pb-3 border-bottom"><i
                                        class="fal fa-phone-alt ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">شماره تلفن</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="tel:+(613)7785652">+(613)7785652</a></div>
                                </li>
                                <li class="d-flex align-items-start pt-2"><i class="far fa-envelope ms-2"></i>
                                    <div class="ps-3"><span class="fs-ms text-muted">آدرس ایمیل</span><a
                                            class="d-block nav-link-style fs-sm"
                                            href="mailto:newyork@example.com">newyork@example.com</a></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="border-top">
            <div class="area-map-formContact d-lg-flex">
                <div id="map_container" class="order-2">
                    <div class="map">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1703.7925805820778!2d48.60410884139667!3d31.34282784423714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3fc3db80c48e6a2b%3A0x863189351cf418f7!2z2KfYs9iq2KfZhiDYrtmI2LLYs9iq2KfZhtiMINin2YfZiNin2LLYjCDYrtuM2KfYqNin2YYgNyDYtNix2YLbjNiMINin24zYsdin2YY!5e0!3m2!1sfa!2s!4v1616518445732!5m2!1sfa!2s"
                            style="border:0;" allowfullscreen="" loading="lazy"></iframe>
                    </div>
                </div>

                <div class="area-form-contact order-1">
                    <h1 class="h3 mb-4 pb-2">تماس با ما</h1>
                    <!-- Default form contact -->
                    <form class="row" action="#!">
                        <!-- Name -->
                        <div class="col-sm-6  form-group mb-4">
                            <label for="Input-name">نام <span class="text-danger ">*</span>
                            </label>
                            <input type="text" required="" class="form-control" id="Input-name"
                                placeholder="نام را وارد کنید ">
                        </div>
                        <!-- Email -->
                        <div class="col-sm-6  form-group mb-4">
                            <label for="input-email">آدرس <span class="text-danger ">*</span>
                            </label>
                            <input type="email" required="" class="form-control" id="input-email"
                                placeholder="ایمیل را وارد کنید *">
                        </div> <!-- phone -->
                        <div class="col-sm-6  form-group mb-4">
                            <label for="Input-phone">تلفن <span class="text-danger ">*</span> </label>
                            <input type="text" required="" class="form-control" id="Input-phone"
                                placeholder="شماره تلفن را وارد کنید *">
                        </div>

                        <!-- subject -->
                        <div class="col-sm-6  form-group mb-4">
                            <label for="Input-subject">موضوع <span class="text-danger ">*</span> </label>
                            <input type="text" class="form-control" id="Input-subject"
                                placeholder="موضوع را وارد کنید ">
                        </div>

                        <!-- Message -->

                        <div class="col-12 form-group mb-4">
                            <label for="textarea-form">پیام <span class="text-danger ">*</span> </label>
                            <textarea class="form-control" required="" id="textarea-form" rows="8"
                                placeholder="نظر شما *"></textarea>

                        </div>
                        <!-- Send button -->
                        <div class="col-12 area-btn-form-contact">
                            <button type="submit" class="btn-5"> ارسال پیام</button>
                        </div>
                    </form>
                    <!-- Default form contact -->
                </div>

            </div>
        </section>
    </div>
{% endblock %}