{% extends 'parent/base.html' %}
{% block title %}{% endblock %}
{% block content %}
    <div class="content mb-5 singleProduct left-details">
        <section class="area-details-product ">
            <div class="container">
                <div class="row ">
                    <div class="col-12 col-lg-8 py-4 order-1">
                        <nav aria-label="breadcrumb" class="mb-3">
                            <ol class="breadcrumb breadcrumb-singleProduct">
                                <li class="breadcrumb-item"><a href="#">خانه</a></li>
                                <li class="breadcrumb-item"><a href="#">فروشگاه</a></li>
                                <li class="breadcrumb-item active" aria-current="page">جزئیات محصول سمت چپ</li>
                            </ol>
                        </nav>
                        <div class="title-product-single  mb-5">
                            <h1 class="element">کفش ورزشی</h1>
                        </div>
                        <div class="area-details-product-single d-flex mb-3 ">
                            <div class="nav nav-pills  flex-column ms-5"
                            id="v-pills-tab" role="tablist" aria-orientation="vertical">
                            <button class="nav-link nav-link-TabprouductSingle my-2 d-flex justify-content-center active" id="tab-product1" data-bs-toggle="pill"
                                data-bs-target="#tab-prouduct-single1" type="button" role="tab" aria-controls="v-pills-home"
                                aria-selected="true">
                                <div class="tab-product-single d-flex align-items-center">
                                    <img src="images/shoes-sport1.jpg"  />
                                </div>

                            </button>
                            <button class="nav-link nav-link-TabprouductSingle my-2 d-flex justify-content-center" id="tab-product2" data-bs-toggle="pill"
                                data-bs-target="#tab-prouduct-single2" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">
                                <div class="tab-product-single d-flex align-items-center">
                                    <img src="images/shoes-sport2.jpg"  />
                                </div>
                            </button>
                            <button class="nav-link nav-link-TabprouductSingle my-2 d-flex justify-content-center" id="tab-product3" data-bs-toggle="pill"
                                data-bs-target="#tab-prouduct-single3" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">
                                <div class="tab-product-single d-flex align-items-center">
                                    <img src="images/shoes-sport3.jpg"  />
                                </div>

                            </button>
                            <button class="nav-link nav-link-TabprouductSingle my-2 d-flex justify-content-center" id="tab-product4" data-bs-toggle="pill"
                            data-bs-target="#tab-prouduct-single4" type="button" role="tab"
                            aria-controls="v-pills-messages" aria-selected="false">
                            <div class="tab-product-single d-flex align-items-center">
                                <img src="images/shoes-sport4.jpg"  />
                            </div>

                        </button>
                        </div>

                            <div class="tab-content  w-100 d-flex justify-content-center align-items-center" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="tab-prouduct-single1" role="tabpanel"
                                    aria-labelledby="tab-product1">
                                    <div class="area-img-singleproduct">
                                        <img src="images/shoes-sport-medium1.png"  class="MagicZoom img-fluid" />
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-prouduct-single2" role="tabpanel"
                                    aria-labelledby="tab-product2">
                                    <div class="area-img-singleproduct">
                                        <img src="images/shoes-sport-medium2.png"  class="img-fluid" />
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="tab-prouduct-single3" role="tabpanel"
                                    aria-labelledby="tab-product3">
                                    <div class="area-img-singleproduct">
                                        <img src="images/shoes-sport-medium3.png"  class="img-fluid" />
                                    </div>
                                </div>
    
                                <div class="tab-pane fade" id="tab-prouduct-single4" role="tabpanel"
                                aria-labelledby="tab-product4">
                                <div class="area-img-singleproduct">
                                    <img src="images/shoes-sport-medium4.png"  class="img-fluid" />
                                </div>
                                </div>
                            </div>


                        </div>
                        <div class="social-Icon-singleProduct d-flex align-items-center pt-5 pb-3">
                            <span>اشتراک گذاری محصول: </span>
                            <div class="area-socialIcon d-flex me-3">
                                <a href="http://www.facebook.com" class="icon facebook"><span
                                        class="tooltip-site">Facebook</span></a>
                                <a href="http://www.github.com" class="icon instegram"><span
                                        class="tooltip-site">instegram</span></a>
                                <a href="http://www.dribble.com" class="icon linkedin"><span
                                        class="tooltip-site">linkedin</span></a>
                                <a href="http://www.twitter.com" class="icon twitter"><span
                                        class="tooltip-site">Twitter</span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-lg-4 py-5 col-bg-details-product order-2">
                        <a href="#" class="star_rating-singleProduct d-flex mb-4">
                            <div class="star_rating ms-3">
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                <span class="star-icon"><i class="far fa-star"></i></span>
                            </div>
                            <span>
                                <span>(4.2)</span>
                                براساس
                                <span>15</span>
                                دیدگاه
                            </span>
                        </a>
                        <div class="area-price-singleProduct d-flex">
                            <span class="ms-2"> قیمت: </span>
                            <del class="price-discount ms-3 mb-4">15000000تومان</del>
                            <p class="price">12000000 تومان</p>
                        </div>
                        <div class="font-size-sm pb-1 mb-2">
                            <span class="font-weight-medium text-heading">انتخاب رنگ - </span>
                            <span class="ms-1" id="colorOptionText"></span>
                        </div>
                        <div class="area-radiosColorProduct mb-4">
                            <div class="option-color-product option-color1">
                                <input class="radio-color" type="radio" name="color" id="radio-color-1" value="Brown"
                                    data-label="colorOptionText">
                                <label for="radio-color-1" class="lable-option-color">
                                    <span></span>
                                </label>
                            </div>
                            <div class="option-color-product option-color2">
                                <input class="radio-color" type="radio" name="color" id="radio-color-2" value="Brown"
                                    data-label="colorOptionText">
                                <label for="radio-color-2" class="lable-option-color">
                                    <span></span>
                                </label>
                            </div>
                            <div class="option-color-product option-color3">
                                <input class="radio-color" type="radio" name="color" id="radio-color-3" value="Brown"
                                    data-label="colorOptionText">

                                <label for="radio-color-3" class="lable-option-color">
                                    <span></span>
                                </label>
                            </div>
                            <div class="option-color-product option-color4">
                                <input class="radio-color" type="radio" name="color" id="radio-color-4" value="Brown"
                                    data-label="colorOptionText">
                                <label for="radio-color-4" class="lable-option-color">
                                    <span></span>
                                </label>
                            </div>
                            <div class="option-color-product option-color5">
                                <input class="radio-color" type="radio" name="color" id="radio-color-5" value="Brown"
                                    data-label="colorOptionText">
                                <label for="radio-color-5" class="lable-option-color">
                                    <span></span>
                                </label>
                            </div>
                        </div>
                        <div class="font-size-sm pb-1 mb-2">
                            <span class="font-weight-medium text-heading">انتخاب سایز</span>
                        </div>
                        <div class="area-radiosSizeProduct d-flex align-items-center flex-wrap ms-lg-2  mb-4">
                            <div class="option-Size-product option-Size1 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-1" value="36">
                                <label for="radio-size-1" class="lable-option-size">
                                    36
                                </label>
                            </div>
                            <div class="option-Size-product option-Size2 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-2" value="37"
                                    disabled>
                                <label for="radio-size-2" class="lable-option-size">
                                    37
                                </label>
                            </div>
                            <div class="option-Size-product option-Size3 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-3" value="38">
                                <label for="radio-size-3" class="lable-option-size">
                                    38
                                </label>
                            </div>
                            <div class="option-Size-product option-Size4 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-4" value="39">
                                <label for="radio-size-4" class="lable-option-size">
                                    39
                                </label>
                            </div>
                            <div class="option-Size-product option-Size5 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-5" value="40"
                                    disabled>
                                <label for="radio-size-5" class="lable-option-size">
                                    40
                                </label>
                            </div>
                            <div class="option-Size-product option-Size6 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-6" value="41">
                                <label for="radio-size-6" class="lable-option-size">
                                    41
                                </label>
                            </div>
                            <div class="option-Size-product option-Size7 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-7" value="42"
                                    disabled>
                                <label for="radio-size-7" class="lable-option-size">
                                    42
                                </label>
                            </div>
                            <div class="option-Size-product option-Size8 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-8" value="43">
                                <label for="radio-size-8" class="lable-option-size">
                                    43
                                </label>
                            </div>
                            <div class="option-Size-product option-Size9 mb-2">
                                <input class="radio-size" type="radio" name="size" id="radio-size-9" value="44">
                                <label for="radio-size-9" class="lable-option-size">
                                    44
                                </label>
                            </div>
                        </div>
                        <div class="area-addtocart-singleProduct d-flex align-items-center mb-4">
                            <input name="input" type="number" value="1" class="ms-2">
                            <!-- <button class="btn btn-primary btn-block" type="button">اضافه به سبد خرید</button> -->
                            <button class="btn-5" type="button">اضافه به سبد خرید</button>
                        </div>
                        <button class="btn btn-block btn-wishlist-singleproduct mb-4" type="button">
                            افزودن به علاقه مندی ها
                            <i class="fal fa-heart"></i>
                        </button>
                        <div class="area-information-single-product">
                            <p class="mb-3">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط .
                            </p>
                            <!-- <a href="#" class="underline-right">بیشتر بخوانید</a><br> -->
                            <a class="fancy scrollTo" href=".category-single-product">بیشتر بخوانید</a>
                        </div>
                        <hr class="my-4">
                        <ul class="category-single-product">
                            <li><span>شناسه محصول: </span>256452455</li>
                            <li><span>دسته بندی: </span><a href="#">کفش مردانه</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-video-single-page">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 d-flex align-items-center  order-2 order-md-1 ">
                        <div class="description-singleProduct">
                            <h2 class="mb-3">محصول با بهترین کیفیت</h2>
                            <p>
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است، و برای شرایط .
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است، چاپگرها و متون بلکه روزنامه و مجله در ستونو
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 order-1 order-md-2 mb-4 mb-md-0 pb-2">
                        <div class="box-video-productSingle thumbnail ">
                            <video id="video-gallery-button">
                                <source src="video/bootstrap_v4_part35.mp4" type="video/mp4" id="mov_bbb">
                            </video>
                            <a href="video/bootstrap_v4_part35.mp4" class="iconPlay-video-gallery"
                                data-fancybox="video-gallery" data-title="">
                                <i class="far fa-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-madeProduct ">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-6 mb-4">
                        <div class="area-img-map-product d-flex justify-content-center">
                            <img src="images/map-product1.png"  />
                        </div>
                    </div>
                    <div class="col-12 col-md-6 ">
                        <div class="area-description-madeProduct mt-4">
                            <h2 class="title-description-madeProduct mb-4">
                                این محصول ساخت کجاست؟
                            </h2>
                            <h6 class="mb-3">
                               فروشگاه آروند
                            </h6>
                            <p class="mb-4">
                                اهواز، کیان پارس، بین خیابان 3 و 4 شرقی
                            </p>
                            <div class="d-flex mb-4 count-Workers-madeProduct">
                                <div class="ms-5">
                                    <h4>60%</h4>
                                    <p class="text-center">زن</p>
                                </div>
                                <div class="ms-5">
                                    <h4>40%</h4>
                                    <p class="text-center">مرد</p>
                                </div>
                                <div>
                                    <h4>3255</h4>
                                    <p class="text-center">کارگران</p>
                                </div>
                            </div>
                            <h6 class="mb-3">
                                درباره شرکت تولیدی
                            </h6>
                            <p class="mb-3">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک
                                است،
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-description-rating-product">
            <div class="container">
                <div class="row d-flex align-items-center">
                    <div class="col-12 col-md-4 mb-4 mb-md-0 pb-1 pb-md-0">
                        <div class="rating-product">
                            <h2 class="mb-4"><span>15</span>دیدگاه</h2>
                            <div class="star_rating-singleProduct d-flex mb-3">
                                <div class="star_rating ms-3">
                                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    <span class="star-icon"><i class="far fa-star"></i></span>
                                </div>
                                <span>
                                    امتیاز کلی
                                    <span>(4.2)</span>
                                </span>
                            </div>
                            <p>
                                براساس 15 رای (80%)
                                </br>
                                مشتریان این محصول را توصیه می کنند
                            </p>
                        </div>
                    </div>
                    <div class="col-12 col-md-8 pe-md-4 pe-lg-3">
                        <div class="area-rating-progressbar">
                            <div class="item-rating-progressbar d-flex align-items-center mb-2">
                                <div class="d-flex align-items-center ms-3">
                                    <i class="far fa-star"></i>
                                    <span class="me-1">5</span>
                                </div>
                                <div class="progress w-100 ms-3">
                                    <div class="progress-bar  progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%;background-color:#ff6a00"></div>
                                </div>
                                <div class=""> <span>5</span></div>
                            </div>
                            <div class="item-rating-progressbar d-flex align-items-center mb-2">
                                <div class="d-flex align-items-center ms-3">
                                    <i class="far fa-star"></i>
                                    <span class="me-1">4</span>
                                </div>
                                <div class="progress w-100 ms-3">
                                    <div class="progress-bar bg-info progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 25%"></div>
                                </div>
                                <div class=""> <span>4</span></div>
                            </div>
                            <div class="item-rating-progressbar d-flex align-items-center mb-2">
                                <div class="d-flex align-items-center ms-3">
                                    <i class="far fa-star"></i>
                                    <span class="me-1">3</span>
                                </div>
                                <div class="progress w-100 ms-3">
                                    <div class="progress-bar bg-primary progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 50%"></div>
                                </div>
                                <div class=""> <span>3</span></div>
                            </div>
                            <div class="item-rating-progressbar d-flex align-items-center mb-2">
                                <div class="d-flex align-items-center ms-3">
                                    <i class="far fa-star"></i>
                                    <span class="me-1">2</span>
                                </div>
                                <div class="progress w-100 ms-3">
                                    <div class="progress-bar  progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 80%;background-color:#07a005;"></div>
                                </div>
                                <div class=""> <span>2</span></div>
                            </div>
                            <div class="item-rating-progressbar d-flex align-items-center mb-2">
                                <div class="d-flex align-items-center ms-3">
                                    <i class="far fa-star"></i>
                                    <span class="me-1">1</span>
                                </div>
                                <div class="progress w-100 ms-3">
                                    <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 50%"></div>
                                </div>
                                <div class=""> <span>1</span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-review mb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 col-md-7 mb-4 mb-lg-0 pb-2 pb-lg-0">
                        <div class="box-select-sort d-flex align-items-center justify-content-end mb-4">
                            <label class="lable-select-sort ms-2" for="FormCustomSelect">مرتب سازی براساس: </label>
                            <select class="form-select custom-select"  id="FormCustomSelect" aria-label="Default select example">
                                <option selected>قدیمی ترین</option>
                                <option value="1">محبوب ترین</option>
                                <option value="2">رتبه بالا</option>
                                <option value="3">رتبه پایین</option>
                              </select>
                        </div>
                        <div class="box-comments">
                            <div class="item-comment border-bottom pb-4">
                                <div class="star_rating-item-comment d-flex mb-3">
                                    <div class="star_rating ms-3 ">
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    </div>
                                    <span>
                                        <span>83%</span>
                                        از کاربران این برررسی را مفید ارزیابی کردند
                                    </span>
                                </div>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="porofile_customers-comment d-flex align-items-center">
                                        <img src="images/castomer9787.jpg"  />
                                        <div class="porofileName">
                                            <h6>فاطمه حمزه عوفی</h6>
                                            <span>3 روز پیش</span>
                                        </div>
                                    </div>
                                    <div class="box-like-dislike-comment d-flex align-items-center">
                                        <button class="btn-like ps-3" type="button">15 <i
                                                class="fal fa-thumbs-up"></i></button>
                                        <div class="border-end " style="height: 25px;"></div>
                                        <button class="btn-dislike pe-3" type="button">3 <i
                                                class="fal fa-thumbs-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment border-bottom pb-4 pt-4">
                                <div class="star_rating-item-comment d-flex mb-3">
                                    <div class="star_rating ms-3">
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    </div>
                                    <span>
                                        <span>83%</span>
                                        از کاربران این برررسی را مفید ارزیابی کردند
                                    </span>
                                </div>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="porofile_customers-comment d-flex align-items-center">
                                        <img src="images/castomer9787.jpg"  />
                                        <div class="porofileName">
                                            <h6>فاطمه حمزه عوفی</h6>
                                            <span>3 روز پیش</span>
                                        </div>
                                    </div>
                                    <div class="box-like-dislike-comment d-flex align-items-center">
                                        <button class="btn-like ps-3" type="button">15 <i
                                                class="fal fa-thumbs-up"></i></button>
                                        <div class="border-end " style="height: 25px;"></div>
                                        <button class="btn-dislike pe-3" type="button">3 <i
                                                class="fal fa-thumbs-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment border-bottom pb-4 pt-4">
                                <div class="star_rating-item-comment d-flex mb-3">
                                    <div class="star_rating ms-3">
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    </div>
                                    <span>
                                        <span>83%</span>
                                        از کاربران این برررسی را مفید ارزیابی کردند
                                    </span>
                                </div>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="porofile_customers-comment d-flex align-items-center">
                                        <img src="images/castomer9787.jpg"  />
                                        <div class="porofileName">
                                            <h6>فاطمه حمزه عوفی</h6>
                                            <span>3 روز پیش</span>
                                        </div>
                                    </div>
                                    <div class="box-like-dislike-comment d-flex align-items-center">
                                        <button class="btn-like ps-3" type="button">15 <i
                                                class="fal fa-thumbs-up"></i></button>
                                        <div class="border-end " style="height: 25px;"></div>
                                        <button class="btn-dislike pe-3" type="button">3 <i
                                                class="fal fa-thumbs-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment border-bottom pb-4 pt-4">
                                <div class="star_rating-item-comment d-flex mb-3">
                                    <div class="star_rating ms-3">
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    </div>
                                    <span>
                                        <span>83%</span>
                                        از کاربران این برررسی را مفید ارزیابی کردند
                                    </span>
                                </div>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="porofile_customers-comment d-flex align-items-center">
                                        <img src="images/castomer9787.jpg"  />
                                        <div class="porofileName">
                                            <h6>فاطمه حمزه عوفی</h6>
                                            <span>3 روز پیش</span>
                                        </div>
                                    </div>
                                    <div class="box-like-dislike-comment d-flex align-items-center">
                                        <button class="btn-like ps-3" type="button">15 <i
                                                class="fal fa-thumbs-up"></i></button>
                                        <div class="border-end " style="height: 25px;"></div>
                                        <button class="btn-dislike pe-3" type="button">3 <i
                                                class="fal fa-thumbs-down"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="item-comment border-bottom pb-4 pt-4">
                                <div class="star_rating-item-comment d-flex mb-3">
                                    <div class="star_rating ms-3">
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                        <span class="star-icon star-icon-active"><i class="far fa-star"></i></span>
                                    </div>
                                    <span>
                                        <span>83%</span>
                                        از کاربران این برررسی را مفید ارزیابی کردند
                                    </span>
                                </div>
                                <p class="mb-3">
                                    لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان
                                    گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و
                                    برای شرایط
                                </p>
                                <div class="d-flex align-items-center justify-content-between">
                                    <div class="porofile_customers-comment d-flex align-items-center">
                                        <img src="images/castomer9787.jpg"  />
                                        <div class="porofileName">
                                            <h6>فاطمه حمزه عوفی</h6>
                                            <span>3 روز پیش</span>
                                        </div>
                                    </div>
                                    <div class="box-like-dislike-comment d-flex align-items-center">
                                        <button class="btn-like ps-3" type="button">15 <i
                                                class="fal fa-thumbs-up"></i></button>
                                        <div class="border-end " style="height: 25px;"></div>
                                        <button class="btn-dislike pe-3" type="button">3 <i
                                                class="fal fa-thumbs-down"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div
                            class="area-btnOldComment-show-namberofComment d-xl-flex  justify-content-xl-between  text-center pb-2">
                            <div
                                class="box-show-namberofComment  mb-4 mb-xl-0  d-flex justify-content-center align-items-center ">
                                <span>نمایش 5 از 15 دیدگاه</span>
                                <div class="progress w-100 me-3">
                                    <div class="progress-bar  progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"
                                        style="width: 75%;background-color:#766df4"></div>
                                </div>
                            </div>
                            <a class="btnOldComment" href="#">نمایش دیدگاههای قدیمی تر</a>
                        </div>
                    </div>
                    <div class="col-12 col-md-5 area-form-reviews">
                        <div class="box-form-reviews">
                            <!-- Default form contact -->
                            <form class="px-4 px-md-3 px-lg-4 py-5 form-reviews" action="#!">
                                <h3 class="h4 mb-4 caption-form">نوشتن دیدگاه</h3>
                                <!-- Name -->
                                <div class="form-group mb-4">
                                    <label for="Input-name">نام و نام خانوادگی <span class="text-danger ">*</span>
                                    </label>
                                    <input type="text" class="form-control" id="Input-name" placeholder="محمد عوفی">
                                </div>
                                <!-- Email -->
                                <div class="form-group mb-4">
                                    <label for="input-email">آدرس ایمیل<span class="text-danger">*</span> </label>
                                    <input type="email" class="form-control" id="input-email"
                                        placeholder="name@example.com">
                                    <small class="text-form-description">فقط احراز هویت شما را اسپم نمی کنیم</small>
                                </div>
                                <label for="select-form-starRating">رتبه بندی <span class="text-danger">*</span></label>
                                <select class="form-select custom-select mb-4"  id="select-form-starRating" aria-label="Default select example">
                                    <option selected>انتخاب رتبه</option>
                                    <option value="1">1 ستاره</option>
                                    <option value="2">2 ستاره</option>
                                    <option value="3">3 ستاره</option>
                                    <option value="3">4 ستاره</option>
                                    <option value="3">5 ستاره</option>
                                  </select>
                                <!-- Message -->
                                <div class="form-group mb-4">
                                    <label for="textarea-form">نوشتن دیدگاه <span class="text-danger">*</span></label>
                                    <textarea class="form-control" id="textarea-form" rows="6"
                                        placeholder="پیام شما"></textarea>
                                    <small class="text-form-description">دیدگاه شما باید حداقل 50 کاراکتر باشد</small>
                                </div>
                                <!-- Send button -->
                                <button class="btn-5" type="button">ارسال دیدگاه</button>
                            </form>
                            <!-- Default form contact -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="area-slider-singleProduct mb-4 pb-4 pb-md-5 pt-2 pt-md-3">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="title_site">
                            <h2>محصولات مرتبط</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="owl-carousel slider_single-product " id="slider-single-product">
                            <div class="item_slider_single-product">
                                <div class=" d-flex justify-content-center">
                                    <div class="product_cart">
                                        <a href="#" class="card_product_img"><img src="images/shoes541.jpg" 
                                                class="img-fluid" /></a>
                                        <div class="body_card_product text-right">
                                            <a href="#">
                                                <h3>کفش اسپرت </h3>
                                            </a>
                                            <div class="price_card_product"> <del class="ms-1">150000تومان</del><span>
                                                    120000
                                                    تومان</span></div>
                                        </div>
                                        <div
                                            class="card_footer_product d-flex justify-content-between align-items-center">
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="area_icon_cardFooter d-flex align-items-center">
                                                <a href="#" class="border-left"><i class="fal fa-cart-plus"></i><span
                                                        class="tooltip-site"> سبد خرید </span></a>

                                                <a href="#"><i class="fal fa-heart"></i><span class="tooltip-site">
                                                        علاقه مندی ها</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item_slider_single-product">
                                <div class=" d-flex justify-content-center">
                                    <div class="product_cart">
                                        <a href="#" class="card_product_img"><img src="images/shoes541.jpg" 
                                                class="img-fluid" /></a>
                                        <div class="body_card_product text-right">
                                            <a href="#">
                                                <h3>کفش اسپرت </h3>
                                            </a>
                                            <div class="price_card_product"> <del class="ms-1">150000تومان</del><span>
                                                    120000
                                                    تومان</span></div>
                                        </div>
                                        <div
                                            class="card_footer_product d-flex justify-content-between align-items-center">
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="area_icon_cardFooter d-flex align-items-center">
                                                <a href="#" class="border-left"><i class="fal fa-cart-plus"></i><span
                                                        class="tooltip-site"> سبد خرید </span></a>
                                                <a href="#"><i class="fal fa-heart"></i><span class="tooltip-site">
                                                        علاقه مندی ها</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item_slider_single-product">
                                <div class=" d-flex justify-content-center">
                                    <div class="product_cart">
                                        <a href="#" class="card_product_img"><img src="images/shoes541.jpg" 
                                                class="img-fluid" /></a>
                                        <div class="body_card_product text-right">
                                            <a href="#">
                                                <h3>کفش اسپرت </h3>
                                            </a>
                                            <div class="price_card_product"> <del class="ms-1">150000تومان</del><span>
                                                    120000
                                                    تومان</span></div>
                                        </div>
                                        <div
                                            class="card_footer_product d-flex justify-content-between align-items-center">
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="area_icon_cardFooter d-flex align-items-center">
                                                <a href="#" class="border-left"><i class="fal fa-cart-plus"></i><span
                                                        class="tooltip-site"> سبد خرید </span></a>
                                                <a href="#"><i class="fal fa-heart"></i><span class="tooltip-site">
                                                        علاقه مندی ها</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item_slider_single-product">
                                <div class=" d-flex justify-content-center">
                                    <div class="product_cart">
                                        <a href="#" class="card_product_img"><img src="images/shoes541.jpg" 
                                                class="img-fluid" /></a>
                                        <div class="body_card_product text-right">
                                            <a href="#">
                                                <h3>کفش اسپرت </h3>
                                            </a>
                                            <div class="price_card_product"> <del class="ms-1">150000تومان</del><span>
                                                    120000
                                                    تومان</span></div>
                                        </div>
                                        <div
                                            class="card_footer_product d-flex justify-content-between align-items-center">
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="area_icon_cardFooter d-flex align-items-center">
                                                <a href="#" class="border-left"><i class="fal fa-cart-plus"></i><span
                                                        class="tooltip-site"> سبد خرید </span></a>
                                                <a href="#"><i class="fal fa-heart"></i><span class="tooltip-site">
                                                        علاقه مندی ها</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item_slider_single-product">
                                <div class=" d-flex justify-content-center">
                                    <div class="product_cart">
                                        <a href="#" class="card_product_img"><img src="images/shoes541.jpg" 
                                                class="img-fluid" /></a>
                                        <div class="body_card_product text-right">
                                            <a href="#">
                                                <h3>کفش اسپرت </h3>
                                            </a>
                                            <div class="price_card_product"> <del class="ms-1">150000تومان</del><span>
                                                    120000
                                                    تومان</span></div>
                                        </div>
                                        <div
                                            class="card_footer_product d-flex justify-content-between align-items-center">
                                            <div class="star_rating">
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon star-icon-active"><i
                                                        class="far fa-star"></i></span>
                                                <span class="star-icon "><i class="far fa-star"></i></span>
                                                <span class="star-icon"><i class="far fa-star"></i></span>
                                            </div>
                                            <div class="area_icon_cardFooter d-flex align-items-center">
                                                <a href="#" class="border-left"><i class="fal fa-cart-plus"></i><span
                                                        class="tooltip-site"> سبد خرید </span></a>
                                                <a href="#"><i class="fal fa-heart"></i><span class="tooltip-site">
                                                        علاقه مندی ها</span></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}