<footer>
    <div class="area_footer_top">
        <div class="container">
            <div class="row">
                <div class=" col-sm-6 col-lg-4">
                    <div class="widget_footer">
                        <div class="title_widget_footer">
                            دسته بندی محصولات
                        </div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li><a href="#">بهداشتی آرایشی</a></li>
                                <li><a href="#">کفش</a></li>
                                <li><a href="#">لباس</a></li>
                                <li><a href="#">دیجیتال</a></li>
                                <li><a href="#">بهداشتی آرایشی</a></li>
                                <li><a href="#">کفش</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-4  mt-4 mt-sm-0">
                    <div class="widget_footer">
                        <div class="title_widget_footer">تماس با ما</div>
                        <div class="contenet_widget_footer">
                            <ul>
                                <li>
                                    <span> آدرس: آدرس: ۴۴۵ کوه عدن جاده، کوه بهشت، اوکلند.</span>
                                </li>
                                <li>
                                    <span> شماره تماس: 2135642512</span>
                                </li>
                                <li>
                                    <span> ایمیل: digistore@exmple.com</span>
                                </li>
                                <li>
                                    <span> فکس: 2564521544</span>
                                </li>
                                <li>
                                    <span> زمان کاری: شنبه تا پنچ شنبه ساعت ۸ صبح تا ۱۲ ظهر</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div
                        class="col-sm-12 col-lg-4 d-sm-flex d-md-flex flex-lg-column flex-row align-items-md-center align-items-lg-start">
                    <div class="widget_footer widget_footer_news pl-sm-3 pl-md-3 mt-4   mt-md-3 mt-lg-0 w-100">
                        <div class="title_widget_footer">عضویت در خبرنامه</div>
                        <div class="contenet_widget_footer">
                            <form action="" method="post" class="form_news_footer">
                                <div class="input-group">
                                    <span><i class="far fa-envelope"></i></span>

                                    <button type="submit">ارسال</button>
                                    <input type="email" name="email" id="email" class="form-control"
                                           placeholder="ایمیل شما">
                                </div>
                            </form>
                        </div>
                    </div>
                    <div
                            class="widget_footer widget_footer_downloadApp  mt-4  mt-md-4  px-sm-3 px-md-3 px-lg-0 w-100">
                        <div class="title_widget_footer">دانلود برنامه</div>
                        <div class="contenet_widget_footer">
                            <div
                                    class="download_app_footer d-flex   flex-row  align-items-xl-center flex-sm-column flex-md-row flex-lg-column   flex-xl-row">
                                <a href="#" class="app_store  d-flex align-items-center justify-content-center ">
                                    <div class="text_download_app">
                                        <span>دانلود در </span>
                                        <span>برنامه استور</span>
                                    </div>
                                    <img src="images/apple.svg"/>
                                </a>
                                <a href="#"
                                   class="app_googlePlay d-flex align-items-center justify-content-center  mt-0 mt-sm-2  mt-md-0 mt-lg-3 mt-xl-0  me-3 me-sm-0 me-md-3 me-lg-0 me-xl-3 ">
                                    <div class="text_download_app">
                                        <span>دانلود در </span>
                                        <span>گوگل پلی </span>
                                    </div>
                                    <img src="images/googlePlay.svg"/>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="area_footer_bottom">
        <div class="container">
            <div class="row area_element-multi">
                <div class="col-6 col-md-4 col-xl-3 element-multi">
                    <div class="content-element-multi d-flex align-items-center  mb-3 ">
                        <div class="icon-element">
                            <i class="fal fa-truck"></i>
                        </div>
                        <div class="detail-element">
                            <h3>تحویل سریع و رایگان</h3>
                            <div class="text-multi-element">حمل و نقل رایگان در همه منظور</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 element-multi">
                    <div class="content-element-multi d-flex align-items-center  mb-3 ">
                        <div class="icon-element">
                            <i class="fal fa-user-headset"></i>
                        </div>
                        <div class="detail-element">
                            <h3>پشتیبانی آنلاین ۲۴/۷</h3>
                            <div class="text-multi-element">پشتیبانی آنلاین ۲۴ ساعت در روز</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 element-multi mt-4 mt-md-0">
                    <div class="content-element-multi d-flex align-items-center  mb-3 ">
                        <div class="icon-element">
                            <i class="fas fa-undo"></i>
                        </div>
                        <div class="detail-element">
                            <h3>بازگشت پول</h3>
                            <div class="text-multi-element">تضمین بازگشت به کمتر از ۷ روز</div>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4 col-xl-3 element-multi mt-4 mt-xl-0">
                    <div class="content-element-multi d-flex align-items-center  mb-3 ">
                        <div class="icon-element">
                            <i class="fal fa-lock-alt"></i>
                        </div>
                        <div class="detail-element ">
                            <h3>پرداخت امن</h3>
                            <div class="text-multi-element">امنیت کامل در پرداخت</div>
                        </div>
                    </div>
                </div>
            </div>
            <hr class="hr_footer_bottom ">
            <div class="row pt-4 pb-4 pb-lg-5 align-items-center">
                <div class=" col-12 col-lg-8 col-xl-9">
                    <div class="area_menu_footer d-flex  align-items-md-center flex-column flex-md-row ">
                        <img src="images/logo.png" class="img-logoFooter ms-2 mb-2 d-none d-md-block"/>
                        <div class="menu_footer mt-2 mt-md-0">
                            <ul>
                                <li><a href="#">قوانین سایت</a></li>
                                <li><a href="#">حساب شما</a></li>
                                <li><a href="#">نرخ باربری</a></li>
                                <li><a href="#">بازپرداختی</a></li>
                                <li><a href="#"> پیگیری سفارش</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-4 col-xl-3 mt-4 mt-lg-0">
                    <div class="area-socialIcon d-flex justify-content-start justify-content-lg-end">
                        <a href="http://www.facebook.com" class="icon facebook"><span
                                class="tooltip-site">Facebook</span></a>
                        <a href="http://www.github.com" class="icon instegram"><span
                                class="tooltip-site">instegram</span></a>
                        <a href="http://www.dribble.com" class="icon linkedin"><span
                                class="tooltip-site">linkedin</span></a>
                        <a href="http://www.twitter.com" class="icon twitter"><span
                                class="tooltip-site">Twitter</span></a>

                    </div>
                </div>
            </div>
            <div class="row justify-content-between  pb-5 align-items-center">
                <div class="col-12 col-lg-4 mt-4 mt-lg-0  order-2 order-lg-1">
                    <div class="copyright">
                        تمامی حقوق سایت محفوظ است
                    </div>
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2">
                    <div class="area_cartimg_footer float-end float-lg-start">
                        <img src="images/images13.png" style="width: 12rem;"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>